.root {
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.root.plain {
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-600);
  font-size: 12px;
}

.root.primary {
  background-color: var(--primary-600);
  border-color: var(--primary-600);
  color: var(--neutral-0);
}

.root.primary-outlined {
  background-color: var(--neutral-100);
  border-color: var(--primary-200);
  color: var(--primary-600);
}

.root.secondary {
  color: var(--primary-600);
  border-color: var(--primary-600);
  background: var(--neutral-0);
}

.root.secondary-outlined {
  color: var(--primary-600);
  border-color: var(--primary-600);
  background: var(--primary-100);
}

.root.alert {
  color: var(--neutral-0);
  border-color: var(--danger-600);
  background: var(--danger-600);
}

.root.success {
  color: var(--neutral-0);
  border-color: var(--success-600);
  background: var(--success-600);
}

.root.warning {
  color: var(--neutral-0);
  border-color: var(--warning-600);
  background: var(--warning-600);
}

.root svg {
  width: 16px;
  height: 16px;
}

.root.primary:hover {
  background-color: var(--primary-500);
}

.root.secondary:hover {
  background-color: var(--primary-100);
}

.root.secondary-outlined:hover {
  background-color: var(--primary-200);
}


@media (max-width: 768px) {
  .root {
    padding: 8px 10px;
  }

  .icon + span {
    display: none;
  }
}

@media (max-width: 576px) {
  .root {
    padding: 6px 8px;
  }
}