.root {
  width: 800px;
  max-width: 95%;
  margin: 0 auto 48px;
  padding: 24px;
  background-color: var(--neutral-0);
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.filters {
  display: flex;
  gap: 24px;
}

.dropdownWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdownWrapper span {
  color: var(--neutral-500);
}

.dragging {
  opacity: 0.7;
}

.emptyListMessage {
  text-align: center;
  color: var(--neutral-500);
  padding: 24px 0;
}

.addBtn {
  position: fixed;
  bottom: 48px;
  right: 48px;
  z-index: 2;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .root {
    padding: 16px;
  }

  .header {
    align-items: flex-start;
    flex-direction: column; 
    gap: 16px;
  }

  .addBtn {
    bottom: 24px;
    right: 24px;
  }
}

@media (max-width: 576px) {
  .filters {
    width: 100%;
    justify-content: space-between;
    gap: 8px;
  }

  .addBtn {
    width: 72px;
    height: 72px;
  }
}